@media screen and (min-width: 1px) and (max-width: 950px){


	.headshot{
		width: 70vw;
	}

	.bio{
		display: inline-block;
		width: 70vw;
		font-size: 1rem;
	}

	.emailAddressMobile{
		font-size: 2rem;
		font-weight: bold;
		margin:0;
	}

	.emailAddressDesktop{
		position: absolute;
		max-width: 100px;
		left: -1000px;
	}

}




@media screen and (min-width: 951px) and (max-width: 100000px){

	.headshot{
		width: 40vw;
	}

	.bio{
		display: inline-block;
		width: 45vw;
		font-size: .9rem;
	}

	.emailAddressMobile{
		position: absolute;
		max-width: 100px;
		left: -1000px;
	}

	.emailAddressDesktop{
		position: inline-block;
		width: 100%;
		font-size: 2rem;
		font-weight: bold;
	}

}